@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
}

header {
    background: white;
    padding: 20px;
}
 header > h1 {
     color: black;
     text-align: center;
     font-family: 'Balsamiq Sans', cursive;
 }

 .score-board {
     margin: 20px auto;
     border: 3px solid black;
     border-radius: 4px;
     text-align: center;
     padding: 15px 20px;
     width: 200px;
     font-size: 46px;
     font-family: 'Balsamiq Sans';
     position: relative;
 }

.badge {
    background:  #5dade2;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Balsamiq Sans';
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp-label {
    position: absolute;
    top: 30px;
    right: -25px;
}

.result {
    font-size: 40px;
}

.result > p {
    text-align: center;
    font-family: 'Balsamiq Sans';
    font-weight: bold;
}

.choices {
    margin: 50px 0;
    text-align: center;

}

.choice {
    border: 4px solid black ;
    border-radius: 50%;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

#s:hover {
    background:  #e74c3c;
}

#p:hover {
    background: #2ecc71;
}

#r:hover {
    background: #5dade2 ;
}

.choice:hover {
    cursor: pointer;
    background: #808000;
}

img:hover {
    -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
    -webkit-transition: all 1s ease;
}

#s > img:hover {
    -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#action-message {
    text-align: center;
    font-family: 'Balsamiq Sans';
    font-weight: bold;
    font-size: 20px;
}

#credit {
    padding: 1em;
    padding-bottom: 2.25em;
    margin: -0.5em;
    margin-right: -0.01em;
    margin-top: 12em;
    background: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}































